
@{
	ViewBag.Title = "Forum";
	Layout = "~/Views/Shared/_Layout.cshtml";
	@model IList<MySongbook.Models.ForumPostModel>
}


<section id="subpageImage">
	<h2 class="homeTitle">Forum</h2>
</section>

<section id="page2">
	<table style="margin-left: auto; margin-right: auto;">
		<tr>
			<th class="left_column">Name</th>
			<th class="left_column">Post</th>
		</tr>
		@foreach (var post in Model)
		{
			<tr>
				<td class="left_column">@post.display_name</td>
				<td class="left_column">@post.forum_post</td>
			</tr>
		}

	</table>
</section>

