
@{
	ViewBag.Title = "Forum";
	Layout = "~/Views/Shared/_Layout.cshtml";
	@model IList<MySongbook.Models.ForumPostModel>
}


<section id="subpageImage">
	<h2 class="homeTitle">Forum</h2>
	<h4 class="homeTitle"> <em>Leave a note for your fellow musicians.</em></h4>
</section>

<section id="page2">
	<a href="@Url.Action("NewPost", "Forum")" id="newPostLink">Submit a new post!</a>
	<table style="margin-left: auto; margin-right: auto;" id="forumTable">
		<tr>
			<th class="left_column">Name</th>
			<th>Date</th>
			<th class="left_column">Post</th>
		</tr>
		@foreach (var post in Model)
		{
			<tr>
				<td class="left_column">@post.display_name</td>
				<td>@post.post_date.ToShortDateString()</td>
				<td class="left_column">@post.forum_post</td>
			</tr>
		}

	</table>
</section>

