
@{
    ViewBag.Title = "NewPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
	@model MySongbook.Models.ForumPostModel
}

<section id="subpageImage">
	<h2 class="homeTitle">New Post</h2>
	<h4 class="homeTitle"> <em>What have you got to say?</em></h4>
</section>

<section id="page2">
	<h4 style="text-align: center;">Please use the following form to add a new post to the site!</h4>
	<hr />
	<form method="post" action="@Url.Action("NewPost", "Forum")" id="contactForm">
		<label>Name: <br />@Html.TextBoxFor(p => p.display_name, new { placeholder = "Enter your name" })</label><br />
		<label>Post: <br />@Html.TextAreaFor(p => p.forum_post, new { placeholder = "Enter your post", style = "width: 25vw; height: 15vh;" })</label><br />
		@Html.HiddenFor(p => p.post_date, new { @value = DateTime.UtcNow });
		<button>Submit!</button>
	</form>
</section>

