
#homeImage {
	background: url('piano.jpg') no-repeat fixed;
	height: 90vh;
	margin: 0;
	padding: 200px 0 260px 0;
	background-size: cover;
	color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#page2 {
	background-color: rgb(253, 253, 253);
	margin: 0 auto;
	overflow: hidden;
	padding-top: 25px;
	padding-bottom: 65px;
	height:90vh;
}

#homePage {
	background-color: rgb(253, 253, 253);
	margin: 0 auto;
	overflow: hidden;
	padding-top: 25px;
	padding-bottom: 65px;
	height: 350px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#DisplayAllSongs {
	width: 100%;
}

#songDetails {
	font-size: 12px;
}

tr:nth-child(even){
	background: #CCC;
}

tr:nth-child(odd){
	background: #FFF;
}

#search {
	display:inline-block;
	vertical-align: top;
	margin-right: 25px;
	padding-top: 15px;
	padding-bottom: 10px;
}

#SearchResults{
	width: 100%;
}

footer #Copywright {
	text-align: center;
}

.pageBox h2{
	margin-left: 25px;
	padding-top: 25px;
	text-align: center;
}

.pageBox p{
	margin-left: 25px;
}

.pageBox button{
	margin-Left:25px;
}
.pageBoxFull #DisplayAllSongs{
	margin-right: 15px;
	margin-bottom: 15px;
}

.pageBoxFull h2 {
	text-align: center;
	padding-top: 10px;
}

.pageBoxFull {
	background: rgba(255, 255, 255, 0.6);
	height: 100%;
	width: 100%;
	margin-top: 50px;
}

.tab-content{
	/*background: #FFF;*/
	background-image: url('old-paper-backgrounds-wallpapers.png');
	background-size: 100% 100%;
	width: 50%;
	height: 100%;
	padding-left: 35px;
	}


#homePage h4, .subPage h4{
	margin-left: 45px;
	margin-right: 45px;
	text-align: center;
	padding-top: 15px;
}

#homePage h2 {
	padding-top: 15px;
	margin-top: 5px;
	text-align: center;
}

.inputForm h2{
	padding-top: 35px;
	text-align: center;
}

#subHeading{
	text-align: center;
}

#homePage p, #homePage li, .subPage p, .subPage li {
	text-align: left;
	margin-left: 45px;
	margin-right: 45px;
}

.subPage h2{
	padding-top: 25px;
	text-align: center;
}

.quote {
	text-align: center;
}

#Copywright {
	text-align: center;
	background-color: #222222;
	border-color: #080808;
	color: grey;
	height: 90px;
	bottom: 0;
	width: 100%;
	height: 100px;
}
/*footer {
	position: fixed;
	left: 0;
	bottom: 0;
	height: 90px;
	width: 100%;
}*/

.quote{
	padding-top: 25px;
}

.left_column {
	padding-left: 10px;
}

#bottomMargin {
	height: 20px;
}