
body {
	padding-top: 50px;
	padding-bottom: 20px;
	background: url('piano.jpg') no-repeat fixed;
	background-size: 100% 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#DisplayAllSongs {
	width: 100%;
}

#songDetails {
	font-size: 12px;
}

tr:nth-child(even){
	background: #CCC;
}

tr:nth-child(odd){
	background: #FFF;
}

#search {
	display:inline-block;
	vertical-align: top;
	margin-right: 25px;
	padding-top: 15px;
	padding-bottom: 10px;
}

#SearchResults{
	width: 100%;
}

footer #Copywright {
	text-align: center;
}

/*.jumbotron {
	background: rgba(255, 255, 255, 0.6);
}*/

/*.pageBox {
	background: rgba(255, 255, 255, 0.6);
	height: 500px;
}*/

.pageBox h2{
	margin-left: 25px;
	padding-top: 25px;
	text-align: center;
}

.pageBox p{
	margin-left: 25px;
}

.pageBox button{
	margin-Left:25px;
}
.pageBoxFull #DisplayAllSongs{
	margin-right: 15px;
	margin-bottom: 15px;
}

.pageBoxFull h2 {
	text-align: center;
	padding-top: 25px;
}

.pageBoxFull {
	background: rgba(255, 255, 255, 0.6);
	height: 100%;
	width: 100%;
}

.inputForm {
	/*background: #FFF;*/
	background-image: url('old-paper-backgrounds-wallpapers.png');
	background-size: 100% 100%;
	width: 50%;
	padding-left: 15px;
	/*box-shadow: 1px 1px 3px black;*/
	margin-top: 10%;
	padding-bottom: 50px;
}

.paper {
	width: 50%;
	float: left;
	background-image: url('old-paper-backgrounds-wallpapers.png');
	background-size: 100% 100%;
}

.homePage h4{
	margin-left: 45px;
	margin-right: 45px;
}

.homePage h2{
	padding-top: 35px;
	text-align: center;
}

.inputForm h2{
	padding-top: 35px;
}

#subHeading{
	text-align: center;
}

.homePage p{
	margin-right: 50px;
	text-align: left;
}

.homePage {
	background-image: url('old-paper-backgrounds-wallpapers.png');
	background-size: 100% 100%;
	width: 50%;
	padding-left: 15px;
	margin-top: 10%;
	padding-bottom: 50px;
}
