
#homeImage {
	background: url('piano.jpg') no-repeat fixed;
	height: 5vh;
	margin: 0;
	padding: 200px 0 260px 0;
	background-size: cover;
	color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#subpageImage {
	background: url('piano.jpg') no-repeat fixed;
	height: 5vh;
	margin: 0;
	padding: 200px 0 260px 0;
	background-size: cover;
	color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#page2 {
	background-color: rgb(253, 253, 253);
	margin: 0 auto;
	overflow: hidden;
	padding-top: 25px;
	padding-bottom: 65px;
	height: 90vh;
}

#homePage {
	background-color: rgb(253, 253, 253);
	margin: 0 auto;
	overflow: hidden;
	padding-top: 25px;
	padding-bottom: 65px;
	height: 350px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}

#DisplayAllSongs {
	width: 100%;
}

#songDetails {
	font-size: 12px;
}

tr:nth-child(even) {
	background: #CCC;
}

tr:nth-child(odd) {
	background: #FFF;
}

#search {
	display: inline-block;
	vertical-align: top;
	margin-right: 25px;
	padding-top: 15px;
	padding-bottom: 10px;
}

#sideBox {
	text-align: center;
	background-color: lightgray;
	color: #222222;
	width: 30%;
	height: 30%;
	margin-top: 25px;
	border-radius: 7px;
	box-shadow: 1px 1px black;
}

#sideBox h4{
	padding: 15px;
}

.formSideBar {
	display: inline-block;
	vertical-align: top;
}


#SearchResults {
	width: 100%;
}

footer #Copywright {
	text-align: center;
}

.pageBox h2 {
	margin-left: 25px;
	padding-top: 25px;
	text-align: center;
}

.pageBox p {
	margin-left: 25px;
}

.pageBox button {
	margin-Left: 25px;
}

.pageBoxFull #DisplayAllSongs {
	margin-right: 15px;
	margin-bottom: 15px;
}

.pageBoxFull h2 {
	text-align: center;
	padding-top: 10px;
}

.pageBoxFull {
	background: rgba(255, 255, 255, 0.6);
	height: 100%;
	width: 100%;
	margin-top: 50px;
}


	#homePage h4, .subPage h4, .pageBoxFull h4 {
		margin-left: 45px;
		margin-right: 45px;
		text-align: center;
		padding-top: 15px;
	}

	.pageBoxFull h4 {
		padding-top: 0px;
		text-align: center;
	}

#homePage h2 {
	padding-top: 15px;
	margin-top: 5px;
	text-align: center;
}

.inputForm h2 {
	padding-top: 35px;
	text-align: center;
}

#subHeading {
	text-align: center;
}

#homePage p, #homePage li, .subPage p, .subPage li {
	text-align: left;
	margin-left: 45px;
	margin-right: 45px;
}

.subPage h2 {
	padding-top: 25px;
	text-align: center;
}

.quote {
	text-align: center;
}

#Copywright {
	text-align: center;
	background-color: #222222;
	border-color: #080808;
	color: grey;
	height: 90px;
	bottom: 0;
	width: 100%;
	height: 100px;
}
/*footer {
	position: fixed;
	left: 0;
	bottom: 0;
	height: 90px;
	width: 100%;
}*/

.quote {
	padding-top: 25px;
}

.left_column {
	padding-left: 10px;
}

#bottomMargin {
	height: 20px;
}

select {
	padding-bottom: 7px;
}

#homeImage .homeTitle, #subpageImage .homeTitle {
	color: white;
	float: left;
	text-align: left;
	display: block;
	margin-bottom: 0;
	padding-left: 60px;
	animation-name: fadeIn;
	animation-duration: 2.5s;
}

#contactForm {
	width: 30%;
	margin-left: 35%;
	margin-right: 35%;
}

#contactForm textarea {
	width: 100%;
	max-width: 100%;
}

#newPostLink {
	margin-left: 40vw;
	margin-right: 40vw;
	text-align: center;
	width: 20vw;
}

#forumTable {
	width: 80vw;
	font-size:medium;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}

	from {
		padding-left: 80px;
	}

	to {
		padding-left: 60px;
	}
}
