@{
    ViewBag.Title = "Contact";
}


<section id="subpageImage">
	<h2 class="homeTitle">Contact</h2>
</section>

<section id="page2">
	<h4 style="text-align: center;">Please let us know if you have any questions or suggestions to improve the functionality of this site!</h4>
	<hr />
	<form method="post" action="https://formspree.io/oneill.shanepatrick@gmail.com" id="contactForm">
		<label>Name: <br /><input type="text" name="Name" placeholder="name" /></label><br />
		<label>Email Address: <br /><input type="text" name="Email" placeholder="email address" /></label><br />
		<label>Message: <br /><textarea type="text" name="Message" placeholder="Please enter your message" style="width: 25vw; height: 15vh;"></textarea></label><br />
		<button>Submit!</button>
	</form>
</section>