
@{
	ViewBag.Title = "Forum";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="subpageImage">
	<h2 class="homeTitle">Forum</h2>
</section>

<section id="page2">
	<h4>Coming soon</h4>
</section>

