@{
    ViewBag.Title = "Home Page";

}

<br />
<div class="pageBox">
    <h2>My Songbook</h2>
	<br />

    <h3 class="lead">My Songbook is intended to be a community driven resource that provides vocal music teachers a quick and efficient means of finding new material
	for their students. How does it work?</h3>

	<ul>
		<li>"Find a Song" - Users can search any combination of up to 9 possible specifications. This allows for everything from broad scope searches to narrowly focussed queries.</li>
		<li>"Submit a Song" - The value of this site is dependant upon community engagement. This feature allows anyone to add songs into the database. Have a great piece that more teachers should be using? Add it to My Songbook!</li>
		<li>"Display all Songs" - Take a look at the entirety of of the My Songbook database.</li>
	</ul>
</div>
