@{
    ViewBag.Title = "Home Page";

}

<br />
<div class="jumbotron">
    <h2>My Songbook</h2>
	<br />

    <p class="lead">My Songbook is intended to be a community driven resource that provides vocal music teachers a quick and efficient means of finding new material
	for their students. Searches can be conducted with various specifications allowing for a broad scope or the ability to find that one particular song that will suit the
	needs of a student.</p>
</div>
