@{
	ViewBag.Title = "Home Page";

}

<section id="homeImage">
	<div class="tab-content" style="margin-left: 50px;">

	</div>
</section>

<section id="homePage">
		<h4>
			My Songbook is intended to be a community driven resource that provides vocal music teachers a quick and efficient means of finding new material
			for their students.
		</h4>


		<br />
		<p><strong>How Does it Work?</strong></p>
		<ul>
			<li><strong>Find a Song</strong> - Users can search any combination of up to 7 possible specifications. This allows for everything from broad scope searches to narrowly focussed queries.</li>
			<li><strong>Submit a Song</strong> - The value of this site is dependant upon community engagement. This feature allows anyone to add songs into the database. Have a great piece that more teachers should be using? Add it to My Songbook for others to find!</li>
			<li><strong>Display all Songs</strong> - Take a look at the entirety of of the My Songbook database.</li>
			<li><strong>Edit a Song</strong> - Songs will always be displayed with an <em>Edit</em> link. If you see an error in a listing feel free to fix it!</li>
		</ul>
</section>
<div id="bottomMargin"></div>
