
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="subpageImage">
	<h2 class="homeTitle">Success!</h2>
	<h4 class="homeTitle"> <em>You have added to the database. *Slow clap*</em></h4>
</section>

